{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            AlphaShop
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'marketPlace/css/style.css' %}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>
<body>

<header class="navbar">

    <div class="container nav-container">

        <a href="{% url 'product_list' %}" class="logo">
            Alpha<span>Shop</span>
        </a>

        <nav class="nav-links" id="navMenu">

            <a href="{% url 'product_list' %}">
                <i class="fa-solid fa-store"></i>
                Products
            </a>

            {% if user.is_authenticated %}

                <a href="{% url 'show_cart' %}" class="cart-link">

                    <i class="fa-solid fa-cart-shopping"></i>

                    Cart

                    {% if cartItemCount %}
                        <span class="cart-badge">
                            {{ cartItemCount }}
                        </span>
                    {% endif %}

                </a>

                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    {{ user.username }}
                </a>

                <a href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout
                </a>

            {% else %}

                <a href="{% url 'login' %}">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Login
                </a>

                <a href="{% url 'register' %}">
                    <i class="fa-solid fa-user-plus"></i>
                    Register
                </a>

            {% endif %}

        </nav>

        <div class="menu-btn" id="menuBtn">

            <i class="fa-solid fa-bars"></i>

        </div>

    </div>

</header>


{% if messages %}

<div class="messages">

    {% for message in messages %}

        <div class="alert alert-{{ message.tags }}">

            {{ message }}

        </div>

    {% endfor %}

</div>

{% endif %}



<main class="section fade-in">

    <div class="container">

        {% block content %}

        {% endblock %}

    </div>

</main>



<footer>

    <div class="container">

        <p>

            © {% now "Y" %} Alecdev-10.

            Built with Django

        </p>

    </div>

</footer>


<script src="{% static 'marketPlace/js/app.js' %}"></script>

</body>
</html>